<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="life" sequenceNumber="32">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.nist.math.jama.feature.feature.group" version="1.0.2"/>
<repository location="http://repository.mukis.de/p2/jama/1.0.2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.feature.feature.group" version="1.0.7"/>
<unit id="org.slf4j.feature.feature.group" version="1.6.6"/>
<repository location="http://logback.qos.ch/p2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.1.0.201209190714"/>
<unit id="org.eclipse.gemini.dbaccess.h2.feature.feature.group" version="1.1.0.201209190714"/>
<unit id="org.eclipse.gemini.dbaccess.mysql.feature.feature.group" version="1.1.0.201209190714"/>
<repository location="http://download.eclipse.org/gemini/dbaccess/updates/1.1-M3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.joda.convert.feature.feature.group" version="1.2.0"/>
<unit id="org.joda.time.feature.feature.group" version="2.1.0"/>
<repository location="http://repository.mukis.de/p2/joda/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sapphire.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.platform.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.ui.swt.gef.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.java.jdt.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.java.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.osgi.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.ui.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.ui.swt.xml.editor.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.sapphire.modeling.xml.feature.group" version="0.5.3.201209191432"/>
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.4.0.v20120613-r11652"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.1.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/updates/jpa/1.1.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.scala-ide.sdt.feature.feature.group" version="2.1.0.m2-2_09-201209130821-0dd7542"/>
<repository location="http://download.scala-ide.org/releases-29/milestone/site"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="nz.ac.waikato.cs.weka.feature.feature.group" version="3.7.6.v20120711-1603"/>
<repository location="http://repository.mukis.de/p2/weka/3.7.6/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.lmu.ifi.dbs.knowing.core.feature.feature.group" version="0.1.7.201209281731"/>
<unit id="de.lmu.ifi.dbs.knowing.core.swt.feature.feature.group" version="0.1.7.201209281731"/>
<unit id="de.lmu.ifi.dbs.knowing.swt.feature.feature.group" version="0.1.7.201209281731"/>
<unit id="de.lmu.ifi.dbs.knowing.weka.feature.feature.group" version="0.1.7.201209281731"/>
<repository location="http://repository.mukis.de/p2/knowing/0.1.7/"/>
</location>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.ext.di.feature.feature.group" version="1.0.0.201207101027"/>
<repository location="http://repository.mukis.de/p2/org.eclipse.gemini.ext.di/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.lmu.ifi.dbs.medmon.medic.core.feature.feature.group" version="1.0.0.201301281116"/>
<unit id="de.sendsor.accelerationSensor.feature.feature.group" version="1.0.0.201301281116"/>
<unit id="de.lmu.ifi.dbs.medmon.sensor.feature.feature.group" version="1.0.0.201301281116"/>
<repository location="http://repository.mukis.de/p2/medmon/snapshot/"/>
</location>
</locations>
</target>
